*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}
.cover{
    background-color: rgba(238, 130, 238, 0.592);
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.cover:hover{
    transform: rotate(45deg);
    transform: scale(1.5);
    transform: skew(20deg, 20deg);
    transform: translate(50px, 50px);
    transform: perspective(200px) rotatez(-45deg);
    transform:perspective(200px) rotate3d(1,1,1,20deg);
    transform:perspective(200px) translate3d(30px, 20px, 50px);
    
}