*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;

}
.box{
    background-color: darkcyan;
}
.cover{
    background-color: rgba(127, 255, 212, 0.382);
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

#c1:hover{
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 2s ;
    transition-timing-function: linear;
    transition-delay: 3s;
}
#c2:hover{
    transform: translatey(40px);
    transition-property: transform;
    transition-duration: 2s ;
    transition-timing-function: linear;
    transition-delay: 3s;
}
#c3:hover{
    transform: skew(40deg,40deg);
    transition-property: transform;
    transition-duration: 2s ;
    transition-timing-function: linear;
}
#c4:hover{
    transform: perspective(400px) rotatex(360deg);
    transition-property: all;
    transition-duration: 2s ;
    transition-timing-function: linear;
}
#c5:hover{
    transform: perspective(400px) rotatey(720deg);
    transition-property: all;
    transition-duration: 2s ;
    transition-timing-function: linear;
}
#c6:hover{
    transform: perspective(400px) rotatez(3600000deg);
    transition-property: all;
    transition-duration: 5s ;
    transition-timing-function: linear;
}
#c7:hover{
    transform: perspective(400px) translate3d(30px,10px,5px);
    transition-property: all;
    transition-duration: 6s ;
    transition-timing-function: linear;
}
#c8:hover{
    transform: perspective(400px) translate3d(1,1,1,20deg);
    transition-property: all;
    transition-duration: 1s ;
    transition-timing-function: linear;
}
#c9:hover {
    background-color: red;
    transition-property: all;
    transition-duration: 2s ;
    transition-timing-function: linear;
}